.preview-container {
    height: 250px;
    background-color: #52616B;
    border-radius: 12px;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 205px auto;
    margin-bottom: 20px;
}

.preview-container:hover {
    outline: 2px solid #8DA7B8;
}

.preview-data {
    margin: 5px 0;
}

.preview-data, .preview-footer {
    margin-left: 5px;
}
.preview-author {
    font-size: 0.7rem;
    font-style: italic;
    color: #F0F5F9;
}

.preview-title {
    margin-top: 2px;
}

.preview-content {
    margin-top: 10px;
    color: #C9D6DF;
}