.new-thread-container {
    height: 80px;
    background-color: #52616B;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 12px;
    padding: 0 10px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    background-color: #1E2022;
    border-radius: 50%;
    margin-right: 8px;
}

.fake-input {
    display: flex;
    flex-grow: 1;
}

.fake-input input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #627480;
    border: 1px solid #788D9C;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}

.fake-input input::placeholder {
    color: #C9D6DF;
}

.fake-input input:focus-visible {
    outline: 1px solid #8DA7B8;
    background-color: #52616B;
}

.main-container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 32%);
}

.threads {
    padding: 15px 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}


.sidebar {
    padding: 15px 20px;
}

.about-header {
    background-color: #C9D6DF;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    color: black;
}

.about-content {
    background-color: #52616B;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.about-content,
.about-header {
    width: 100%;
    padding: 10px;
}

.create-thread {
    display: block;
    margin: 0 0 0 auto;
    padding: 10px;
    background-color: #627480;
    border: 1px solid #788D9C;
    transition: 0.2s;
    border-end-end-radius: 12px;
    border-start-end-radius: 12px;
}


.create-thread:hover {
    background-color: #52616B;
}