.toast-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.toast {
    width: 300px;
    height: 80px;
    background-color: #788D9C;
    padding: 5px;
    position: relative;
    margin: 15px;
    border-radius: 5px;
    /* border-bottom: 3px solid white; */
    box-shadow: 0px 0px 4px white;
    animation: move-in .2s linear;
}

.toast-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.toast-content {
    position: absolute;
    bottom: 10px;
    font-size: 0.9rem;
}

.toast-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.toast-close {
    position: relative;
    cursor: pointer;
    padding: 5px 8px;
    background: none;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

.toast-close:hover {
    color: #BCDEF5;
}


@keyframes move-in {
    from {
        right: -350px;
    }

    to {
        right: 0;
    }
}

@keyframes move-out {
    from {
        right: 0;
    }

    to {
        right: -350px;
    }

}

.toast-delete {
    animation: move-out .2s linear;
}